.modal-header
    btn.close(ng-click='modal.close()')
        span(aria-hidden='true') &times;
    p.modal-title File complaint

.modal-body.amount
    p Amount wagered
    .col-md-4.col-sm-4.col-xs-4
        btn.fa.fa-minus(ng-click='modal.changeBet(-1)',
                        ng-mousedown='modal.startChange(-1)',
                        ng-mouseup='modal.endChange()')
    .col-md-4.col-sm-4.col-xs-4
        span.bet ${{modal.dispute.bet}}
    .col-md-4.col-sm-4.col-xs-4
        btn.fa.fa-plus(ng-click='modal.changeBet(1)',
                       ng-mousedown='modal.startChange(1)',
                       ng-mouseup='modal.endChange()')

.modal-body
    .form-group
        p.text-top
            span.text-top-left Complain summary
            span.text-top-right {{400 - modal.dispute.description.length}} of 400
        textarea.form-control(type='text', placeholder="Dispute summary", ng-model="modal.dispute.description")
    .form-group
        p.text-top
            span.text-top-left Defendant Email
        input.form-control(type='email', placeholder='Email', ng-model="modal.dispute.defendant.email")
    .form-group
        p.text-top
            span.text-top-left Dispute category
        select.form-control(ng-model="modal.dispute.category", ng-options="category for category in modal.categories")
.modal-footer
    .modal-check
        switch(ng-model="modal.dispute.isPrivate")
        span.text Private?
    button.btn.btn-danger(ng-click='modal.submit()') Create