.modal-header
    button.close(type='button', ng-click='modal.close()')
        span(aria-hidden='true') &times;
    p.modal-title File complaint

.modal-body#amount
    p Amount wagered
    .col-md-4.col-sm-4.col-xs-4
        .btn.btn-success.bet-minus(ng-click='modal.changeBet(-1)',
                                   ng-mousedown='modal.startChange(-1)',
                                   ng-mouseup='modal.endChange()')
            span.glyphicon.glyphicon-minus
    .col-md-4.col-sm-4.col-xs-4
        #bet ${{modal.dispute.bet}}
    .col-md-4.col-sm-4.col-xs-4
        .btn.btn-success.bet-plus(ng-click='modal.changeBet(1)',
                                  ng-mousedown='modal.startChange(1)',
                                  ng-mouseup='modal.endChange()')
            span.glyphicon.glyphicon-plus

.modal-body
    .form-group
        p.text-top
            span.text-top-left Name
        input.form-control(type='text', placeholder="Dispute name", ng-model="modal.dispute.name")
    .form-group
        p.text-top
            span.text-top-left Photo
        input(type="file",
              nv-file-select,
              uploader="modal.uploader",
              filters="images, queueLimit",
              ng-show="modal.uploader.queue.length < 1")
        table.table(ng-if="modal.uploader.queue.length != 0"): tbody
            tr(ng-repeat="item in modal.uploader.queue")
                td
                    strong {{ item.file.name }}
                    div(ng-thumb='{ file: item._file, height: 100, width: 100 }')
                td:.progress
                    .progress-bar(role='progressbar', ng-style="{ 'width': item.progress + '%' }")
                td.text-center(nowrap='')
                    span(ng-show='item.isSuccess', title='success')
                        i.fa.fa-check-circle
                    span(ng-show='item.isError', title='failed')
                        i.fa.fa-times-circle
                td
                    button.btn.btn-danger.btn-xs(ng-click='item.remove()')
                        i.fa.fa-trash
                        |  Remove
    .form-group
        p.text-top
            span.text-top-left Complain summary
            span.text-top-right {{400 - modal.dispute.description.length}} of 400
        textarea.form-control(type='text', placeholder="Dispute summary", ng-model="modal.dispute.description")
    .form-group
        p.text-top
            span.text-top-left Defendant Email
        input.form-control(type='email', placeholder='Email', ng-model="modal.dispute.defendant.email")
    .form-group
        p.text-top
            span.text-top-left Dispute category
        select.form-control(ng-model="modal.dispute.category", ng-options="category for category in modal.categories")
.modal-footer
    .modal-check
        switch#private(name="private", ng-model="modal.dispute.isPrivate", class="green")
        span.text Private?
    button.modal-button(ng-click='modal.submit()') New complaint
