.row(ng-intro-options='IntroOptions', ng-intro-method='CallMe',
     ng-intro-oncomplete='CompletedEvent', ng-intro-onexit='ExitEvent', ng-intro-onchange='ChangeEvent',
     ng-intro-onbeforechange='BeforeChangeEvent', ng-intro-autostart='false')
    .col-md-9.col-sm-9.content-folio
        .folio-headline.row
            .col-md-2.col-sm-2
                //img(ng-src="{{self.dispute.DisputesPhotos[0].path}}")
            .col-md-10.col-sm-10
                span(ng-click='self.log()') CLAIM
                    span.private(ng-if='self.dispute.isPrivate') PRIVATE
                h2 {{ self.dispute.name }}
                p {{ self.dispute.description }}
        .folio-body.row

            // Plaintiff
            .col-md-6.col-sm-6#step1
                .argument
                    .arg-heading
                        .row
                            .col-lg-3.col-md-3.col-sm-4
                                img.img-disputants.img-responsive.one(ng-src='{{ self.dispute.Plaintiff.imgUrl }}')
                            .col-lg-9.col-md-9.col-sm-8
                                h2 Plaintiff - Argument

                    .arg-body#step2(ng-if='self.dispute.Arguments.plaintiff')
                        p {{ self.dispute.Arguments.plaintiff.argument }}

                    div(ng-if="self.role == 'plaintiff'")
                        .arg-add#step2(ng-if='!self.dispute.Arguments.plaintiff')
                            textarea.form-control(type="text", ng-model="Plaintiff.argument", placeholder='Type your argument here...')
                            btn.btn.btn-primary.add(ng-click='self.saveArgument(Plaintiff.argument)')
                                i.fa.fa-plus
                                span Add Argument

                    .arg-add.clearfix.row(ng-if='self.dispute.Evidences.Plaintiff.length != 0'): ul
                        li.col-md-4(ng-repeat ="image in self.dispute.Evidences.Plaintiff")
                            img.img-responsive.add-img(ng-src='{{image.path}}',
                                                       ng-click='self.viewEvidence(image)')
                    .arg-add#step3(ng-if="self.role == 'plaintiff' && self.dispute.Evidences.Plaintiff.length < self.MAX_EVIDENCE")
                        input.add(type="file",
                                  nv-file-select,
                                  uploader="self.uploader",
                                  filters="images, queueLimit",
                                  ng-hide='self.uploader.queue.length >= self.MAX_EVIDENCE')
                        btn.btn.btn-primary.add(ng-hide='self.uploader.queue.length >= self.MAX_EVIDENCE')
                            i.fa.fa-plus
                            | Add Evidence

                        table.table.uploader(ng-if="self.role == 'plaintiff' && self.uploader.queue.length != 0"): tbody
                            tr(ng-repeat="item in self.uploader.queue")
                                td
                                    strong {{ item.file.name }}
                                    div(ng-thumb='{ file: item._file, height: 100, width: 100 }')
                                td:.progress
                                    .progress-bar(role='progressbar', ng-style="{ 'width': item.progress + '%' }")
                                td.text-center(nowrap='')
                                    span(ng-show='item.isSuccess', title='success')
                                        i.fa.fa-check-circle
                                    span(ng-show='item.isError', title='failed')
                                        i.fa.fa-times-circle
                                td
                                    button.btn.btn-success.btn-xs(ng-click='item.upload()', ng-disabled='item.isReady || item.isUploading || item.isSuccess')
                                        span.fa.fa-upload
                                        |  Upload
                                    button.btn.btn-danger.btn-xs(ng-click='item.remove()')
                                        i.fa.fa-trash
                                        |  Remove
                        div(ng-if="self.role == 'plaintiff' && self.uploader.queue.length != 0")
                            .progress(style='')
                                .progress-bar(role='progressbar', ng-style="{ 'width': uploader.progress + '%' }", style='width: 0%;')
                            button.btn.btn-success.btn-s(ng-click='self.uploader.uploadAll()', ng-disabled='!self.uploader.getNotUploadedItems().length')
                                span.fa.fa-upload
                                |  Upload all
                            button.btn.btn-danger.btn-s(ng-click='self.uploader.clearQueue()', ng-disabled='!self.uploader.queue.length')
                                span.fa.fa-trash
                                |  Remove all

                    div(ng-if="self.role == 'jury'")
                        .arg-vote(ng-if="self.isVoted == false")
                            button.btn.btn-info(ng-click="self.vote('plaintiff')")
                                | Vote for Plaintiff
                        .arg-vote(ng-if="self.isVoted == true")
                            span {{self.plaintiffValue}}%
                            progressbar(value='self.plaintiffValue', type='info')

            // Defendant
            .col-md-6.col-sm-6
                .argument
                    .arg-heading
                        .row
                            .col-lg-3.col-md-3.col-sm-4
                                img.img-disputants.img-responsive.two(ng-src="{{self.dispute.Defendant ? self.dispute.Defendant.imgUrl : '/images/no-avatar.png'}}")
                            .col-lg-9.col-md-9.col-sm-8
                                h2 Defendant - Argument

                    .arg-body(ng-if='self.dispute.Arguments.defendant')
                        p {{ self.dispute.Arguments.defendant.argument }}

                    div(ng-if="self.role == 'defendant'")
                        .arg-add(ng-show='!self.dispute.Arguments.defendant')
                            textarea.form-control(type="text", ng-model="Defendant.argument", placeholder='Type your argument here...')
                            btn.btn.btn-success.add(ng-click='self.saveArgument(Defendant.argument)')
                                i.fa.fa-plus
                                span Add Argument

                    .arg-add.clearfix.row(ng-if='self.dispute.Evidences.Defendant.length != 0'): ul
                        li.col-md-4(ng-repeat ="image in self.dispute.Evidences.Defendant")
                            img.img-responsive.add-img(ng-src='{{image.path}}',
                                                       ng-click='self.viewEvidence(image)')

                    .arg-add(ng-if="self.role == 'defendant' && self.dispute.Evidences.Defendant.length < self.MAX_EVIDENCE")
                        input.add(type="file",
                                  nv-file-select,
                                  uploader="self.uploader",
                                  filters="images, queueLimit",
                                  ng-hide='self.uploader.queue.length >= self.MAX_EVIDENCE')
                        btn.btn.btn-success.add(ng-hide='self.uploader.queue.length >= self.MAX_EVIDENCE')
                            i.fa.fa-plus
                            | Add Evidence

                        table.table.uploader(ng-if="self.role == 'defendant' && self.uploader.queue.length != 0"): tbody
                            tr(ng-repeat="item in self.uploader.queue")
                                td
                                    strong {{ item.file.name }}
                                    div(ng-thumb='{ file: item._file, height: 100, width: 100 }')
                                td:.progress
                                    .progress-bar(role='progressbar', ng-style="{ 'width': item.progress + '%' }")
                                td.text-center(nowrap='')
                                    span(ng-show='item.isSuccess', title='success')
                                        i.fa.fa-check-circle
                                    span(ng-show='item.isError', title='failed')
                                        i.fa.fa-times-circle
                                td
                                    button.btn.btn-success.btn-xs(ng-click='item.upload()', ng-disabled='item.isReady || item.isUploading || item.isSuccess')
                                        span.fa.fa-upload
                                        |  Upload
                                    button.btn.btn-danger.btn-xs(ng-click='item.remove()')
                                        i.fa.fa-trash
                                        |  Remove
                        div(ng-if="self.role == 'defendant' && self.uploader.queue.length != 0")
                            .progress(style='')
                                .progress-bar(role='progressbar', ng-style="{ 'width': uploader.progress + '%' }", style='width: 0%;')
                            button.btn.btn-success.btn-s(ng-click='self.uploader.uploadAll()', ng-disabled='!self.uploader.getNotUploadedItems().length')
                                span.fa.fa-upload
                                |  Upload all
                            button.btn.btn-danger.btn-s(ng-click='self.uploader.clearQueue()', ng-disabled='!self.uploader.queue.length')
                                span.fa.fa-trash
                                |  Remove all

                    div(ng-if="self.role == 'jury'")
                        .arg-vote(ng-if="self.isVoted == false")
                            button.btn.btn-success(ng-click="self.vote('defendant')")
                                | Vote for Defendant
                        .arg-vote(ng-if="self.isVoted == true")
                            span {{self.defendantValue}}%
                            progressbar(value='self.defendantValue', type='success')

        // Comments
        .folio-comment
            form.form-horizontal
                .form-group.index4-cmnt(ng-repeat='comment in self.dispute.Comments')
                    ul: li
                        .left-group1
                            img.img-circle.img-responsive.index4-cd1(ng-src='{{ comment.User.imgUrl }}')
                        .left-group2
                            img.img-circle.img-responsive.index4-cd2(ng-src='{{ comment.User.imgUrl }}')
                        .right-group1
                            header.tafo-cmnt1
                                h2 {{ comment.User.name }}
                                span.ago {{ comment.createdAt | relativeDate}}
                                p {{ comment.text }}
                                span.glyphicon.glyphicon-trash#btn-remove-comment(ng-click='self.removeComment(comment.id)',
                                                                                  ng-show='comment.User.id == self.user.id',
                                                                                  title='Remove comment')
                        .right-group2
                            header.tafo-cmnt2
                                .title
                                    h2 {{ comment.User.name }}
                                    span.ago {{ comment.createdAt | relativeDate}}
                                p {{ comment.text }}
                                span.glyphicon.glyphicon-trash#btn-remove-comment(ng-click='self.removeComment(comment.id)',
                                                                                  ng-show='comment.User.id == self.user.id',
                                                                                  title='Remove comment')
                .form-group(ng-if='self.user')
                    textarea.form-control(type="text", rows='3', placeholder='Enter your comments on the case....', ng-model="self.comment")
                .form-group(ng-if='self.user')
                    button.btn.btn-default(type='submit', ng-click='self.saveComment(self.comment)') Submit Comment

    .col-md-3.col-sm-3.right-content-area
        .top-right-content
            h3 Case closes on
            span {{ self.dispute.activeUntil | date : 'MMM d - h:mma' }}

        .bottom-right-content#step4
            h3 Jury
            span.line-height(ng-if='self.dispute.Juries.length == 0')
                .juror-avatar(ng-show='!self.dispute.juries')
                | No Jurors Yet

            ul(ng-if='self.dispute.Juries != 0')
                li(ng-repeat='jury in self.dispute.Juries')
                    img.juror-avatar(ng-src="{{jury.User ? jury.User.imgUrl : '/images/no-avatar.png'}}",
                                     title="{{jury.User ? jury.User.name : 'Waiting for user registration'}}")

            a.juror(ng-if="self.role == 'plaintiff' || self.role == 'defendant'", ng-click='self.inviteJuries(self.dispute, self.user)')
                | Invite Jurors

        //button.btn.btn-danger(ng-click='self.deleteDispute()', ng-if='self.user.id == self.dispute.PlaintiffId')
        //    i.fa.fa-trash
        //    | Remove case