h3 You have been invited by #{user.name}
p You’ve been summoned to KC notice to the defendant look like?
p #{user.name} has summoned you as a DEFENDANT in Kangaroo Court!
p Body: You or #{user.name} will win #{dispute.bet}$, judged by you friends or anybody else.
p #{user.name} and jurors are waiting for you to participate.
p The case:
h3 #{dispute.name}
span Have fun!
| kangaroocourt.herokuapp.com/disputes/#{dispute.id}