p #{user.name} has summoned you as a DEFENDANT in Kangaroo Court.
p You or #{user.name} will win $#{dispute.bet}, judged by you friends or anybody else.
p The filed complaint states:
p #{dispute.name}
p To read the full-complaint and write a counter-argument, please visit:
if invitation
    p kangaroocourt.herokuapp.com/disputes/#{dispute.id}?invitation=#{invitation}
else
    p kangaroocourt.herokuapp.com/disputes/#{dispute.id}
